*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}
/* asta cred ca se refera la toate elemente din pagina */
html{
    font-size: 10px;
    font-family: 'SF Pro Display', sans-serif;
}
a{
    display: block;
    text-decoration: none;
}
.container{
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}
header{
    position: fixed;
    top:0;
    z-index:1400;
    width:100;
    height:4.4rem;
    background-color:rgba(0,0,0,.8);
    backdrop-filter:blur(2rem);
}
.nav-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -1rem;
}
.nav-list-mobile{
    display: none;
}
.nav-link{
    font-size:1.4rem;
    color:#fff;
    padding: 0 1rem;
    transition: opacity .5s;
}
.nav-link:hover{
    opacity:.7;
}
.nav-link-apple{
    width:1.6rem;
    height:4.4rem;
    background: url("images/apple.png") center no-repeat;
}
.nav-link-search{
    width:1.6rem;
    height:4.4rem;
    background: url("images/search.png") center no-repeat;
}
.iphone-14{
    height:69.2rem;
    background:url("images/yellow.png");
    border-top: none;
}
.iphone-14-pro{
    height:69.2rem;
    background:url("images/iph14pro.png");
    border-top: none;
}
.watch{
    height:69.2rem;
    background:url("images/watch.png");
    border-top: none;
}
.hero{
    margin-top:1rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
    border-top: .6rem solid #fff;
    /* border-bottom: .6rem solid #fff;   */
}
.title{
    color:black;
    text-align:center;
    padding-top: 5.5rem;
}
.title-heading{
    font-size:5.6rem;
    line-height:1.07143;
    letter-spacing: -.008rem;
    font-weight:500;
}
.title-sub-heading{
    font-size:2.65rem;
    margin-top:.6rem;
    letter-spacing: -.008rem;
    font-weight:400;
}
.title-heading-light{
    font-size:5.6rem;
    line-height:1.07143;
    letter-spacing: -.008rem;
    font-weight:400;
    color: white;
}
.title-sub-heading-light{
    font-size:2.65rem;
    margin-top:.6rem;
    letter-spacing: -.008rem;
    font-weight:400;
    color:white;
}
.cta{
    text-align:center;
    margin-top:1.8rem;
    font-weight:200;
}
.cta-link{
    /* color:#66bbff; */
    color:#0070c9;
    font-size: 2.1rem;
    display: inline-block;
}
.title-price{
    font-size: 2rem;
    color:#888;
    margin-top: .68rem;
    font-weight:300;
}
.cta-link:nth-child(2){
    margin-left:2.6rem;
}
.cta-link:hover{
    border-bottom: 2px solid #0070c9;
}
h5{
    color: red;
    font-size:1.5rem;
}

@media screen and (max-width: 1068px){
    .iphone-14{
        /* de pus chestii medii */
    }
    .iphone-14-pro{
        /* de pus chestii medii */
    }
    .watch{
        /* de pus chestii medii */
    }
}